/* custom.css */
.card {
  margin-top: 40%;
  margin-bottom: 71.7%;

  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #f7f7f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}
.body{
  background-color: rgba(153, 153, 153, 0.596);

}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

}

.doctor-button {
  background-color: #00C6AC;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.patient-button {
  background-color: #00C6AC;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.doctor-button:hover,
.patient-button:hover {
  opacity: 0.9;
  background-color: #ffffff;
  color: #2e7b5f;

}
